main {
    margin-top: 10px;
}

input {
    color: white;
    outline: none;
    background-color: transparent;
    border: transparent;
    text-align: center;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}