.carousel-img {
    width: auto;
    height: 600px;
}

#description {
    text-align: justify;
}

#history {
    text-align: justify;
}

#page-url {
    text-align: center;
}

#author {
    text-align: center;
    margin-bottom: 50px;
}